@charset "utf-8";
/* CSS Document */

body {
	margin-bottom: 300px;
	
}
#logo {
	position: absolute;
	width: 181px;
	height: 77px;
	z-index: 1;
	left: 50px;
	top: 90px;
}

#apDiv1 {
	position: absolute;
	left: 3px;
	top: 240px;
	width: 133px;
	height: 146px;
	/*z-index: 2;*/
}
#apDiv2 {
	left: 185px;
	top: 240px;
	width: 856px;
	height: 530px;
	z-index: 3;
	color: #333;
	background-color: #f0f0f0;
	
	bottom: 200px;
	position: absolute;
	clear: none;
	padding-left: 200px;
}
.text1 {
	font-family: Verdana, Geneva, sans-serif;
	text-align: right;
}

.text2 {
	font-family: Verdana, Geneva, sans-serif;
	text-align: left;
}

#register {
	position: absolute;
	left: 775px;
	top: 300px;
	width: 272px;
	height: 229px;
	/*z-index: 4;*/
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
	color: #333;
	background-color: #CCCCCC;
	-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
	
	
}
#horizontal_line {
	position: absolute;
	left: 0px;
	top: 50px;
	width: 100%;
	height: 47px;
	z-index: 5;
}







#Title_text {
	position: absolute;
	left: 40%;
	top: 90px;
	width: 256px;
	height: 64px;
	z-index: 7;
}

#line2 {
	position: absolute;
	left: 0px;
	top: 164px;
	width: 100%;
	height: 43px;
	z-index: 6;
}

#Name_of_participant {
	right:50px;
	position: absolute;
	top: 14px;
	width: 318px;
	height: 35px;
	z-index: 8;
}
#apDiv3 {
	position: absolute;
	left: 13px;
	top: 120px;
	width: 932px;
	height: 109px;
	z-index: 7;
}
#Name_of_participant {
	position: absolute;
	top: 14px;
	width: 362px;
	height: 35px;
	z-index: 8;
	overflow: auto;
}
.reg_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:-6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:158px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}





.reg_button :hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.reg_button :active {
	position:relative;
	top:1px;
}
.form_ele {
	font-family: Verdana, Helvetica, sans-serif;
	letter-spacing: 0.25em;
}
#Reg_Title {
	text-align: center;
	padding-left: 250px;
	padding-top: 50px;
}
label{
	font-family: Verdana, Helvetica, sans-serif;
	letter-spacing: 0.1em;
	float:left;
	width:250px;
	}

#footer {
	position: absolute;
	left: 0px;
	top: 882px;
	width: 100%;
	height: 50px;
	z-index: 8;
	background-color: #3e3e40;
}
#header{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:50px;
	z-index:11;
	background-color: #3e3e40;
}

#div_header{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:40px;
	background-color:#3e3e40;
	z-index:11;
	letter-spacing:5px;
}